@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif&display=swap');
@font-face {
    font-family: "Soni is Rocking a Semi";
    src: url("fonts/Semi.otf");
}
@font-face {
    font-family: "Pizza";
    src: url("fonts/Organo.ttf");
}

$accent-dark-black: #1A1A1D;
$accent-middle-black: #4E4E50;
$accent-dark-pink: #6F2232;
$accent-middle-pink: #950740;
$accent-light-ping: #C3073F;

body
{
    background: $accent-dark-black;
    color: papayawhip;
    font-family: "Roboto Condensed", sans-serif;
}

#home-page
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#header
{
    text-align: center;

    font-size: xxx-large;
    font-family: 'Pizza', sans-serif;
    font-weight: 300;

    h1
    {
        margin-bottom: 25px;
        font-weight: 300;
        display: inline-flex;
        padding-bottom: 45px;
        position: relative;
    }

    h1:before
    {
        content: "";
        position: absolute;
        width: 60%;
        height: 0;
        bottom: 0;
        left: 20%;
        border-bottom: 6px solid $accent-middle-pink;
        border-radius: 10000px;
    }
}

#frontpage-info
{
    margin: 25px 0;
    text-align: center;
    font-size: .9rem;
    max-width: 70ch;
    display: inline-flex;
    flex-direction: column;
    justify-self: center;
    align-self: center;

    color: $accent-middle-black;
}

#frontpage-mainmenu
{
    text-align: center;
    flex-wrap: wrap;
    max-width: 40%;

    .btn
    {
        text-decoration: none;
        font-size: 1.2rem;
        color: papayawhip;
        border: 2px solid $accent-middle-pink;
        border-radius: 2500000px;
        padding: 20px 50px;
        margin: 25px;
        min-width: 100px;
        display: inline-flex;
        justify-content: center;
    }

    #store
    {

    }
}

#product-list
{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 75%;

    .card_product
    {
        background: $accent-dark-pink;
        color: papayawhip;
        border-radius: 25px;
        padding: 20px 20px;
        margin: 25px;
        font-family: arial, sans-serif;
        border-collapse: collapse;
        width: 20rem;
        text-align: center;
        overflow: hidden;

        .card_description
        {
            padding: 10px;
            border-bottom: 6px solid $accent-middle-pink;
        }


        div
        {
            max-width: 98%;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            padding: 10px;

            .card_price
            {
                opacity: 50%;
                font-style: italic;
                text-align: left;
            }

            .card_stock
            {
                padding: 0;
                opacity: 50%;
                font-style: italic;
                text-align: right;
            }
        }

        .btn
        {
            text-align: center;
            object-fit: cover;
            max-width: 100%;
            min-width: 80%;
        }

        img
        {
            object-fit:cover;
            width:100%;
            aspect-ratio:1;
        }
    }
}

#login-btn
{
    position: absolute; // Fixed position
    top: 0; // Bottom justified
    right: 0; // Left justified
    z-index: 1000; // Makes item at the top of everything
    margin: 10px; // Margin
    background-color: transparent; // Background transparent
    width: 40px;
}

#register-btn
{
    position: absolute; // Fixed position
    top: 0; // Bottom justified
    right: 160px; // Left justified
    z-index: 1000; // Makes item at the top of everything
    margin: 10px; // Margin
    background-color: transparent; // Background transparent
    width: 40px;
}

#profile-logout-cluster
{
    display: none;

    #profile-btn
    {
        position: absolute; // Fixed position
        top: 0; // Bottom justified
        right: 0; // Left justified
        z-index: 1000; // Makes item at the top of everything
        margin: 10px; // Margin
        background-color: transparent; // Background transparent
        width: 40px;
    }

    #logout-btn
    {
        position: absolute; // Fixed position
        top: 0; // Bottom justified
        right: 160px; // Left justified
        z-index: 1000; // Makes item at the top of everything
        margin: 10px; // Margin
        background-color: transparent; // Background transparent
        width: 40px;
        cursor: pointer;
    }
}

#back-btn
{
    position: absolute; // Fixed position
    top: 0; // Bottom justified
    left: 0; // Left justified
    z-index: 1000; // Makes item at the top of everything
    margin: 10px; // Margin
    background-color: transparent; // Background transparent
    width: 40px;
}

#invalid
{
    display: none;
    position: absolute;
    margin-top: 350px;
    color: $accent-middle-pink;
}

#wrong
{
    display: none;
    position: absolute;
    margin-top: 350px;
    color: $accent-dark-pink;
}

#correct
{
    display: none;
    position: absolute;
    margin-top: 350px;
    color: green;
}

.btn
{
    text-decoration: none;
    font-size: 1.2rem;
    color: papayawhip;
    border: 2px solid $accent-middle-pink;
    border-radius: 2500000px;
    padding: 20px 20px;
    margin: 0;
    min-width: 100px;
    display: inline-flex;
    justify-content: center;
}

form
{
    display:grid;
    place-items:center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    input
    {

        padding: 15px;
        margin: 10px;
        text-align: center;
        font-size: 25px;
        border-radius: 15px;
    }

    a {

        &:hover{
            cursor: pointer;
        }
    }
}